@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

:root {
    --clr-black: #000000;
    --clr-dark: #393939;
    --clr-gray: #a8a8a8;
    --clr-yellow: #fd9709;
    --clr-light: #ffffff;
}


body {
    font-family: "Noto Sans Math", sans-serif;
    font-weight: bolder;
    font-style: normal;
    line-height: 1.5;
}

button {
    font-family: inherit;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;

    text-transform: uppercase;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.container, .calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem auto;
    padding: 0.5rem;

    border-radius: 20px;
    background-color: var(--clr-black);

    width: fit-content;
    max-width: 300px;
}

.calculator {
    margin: 0;
    padding: 0;
}

.display {
    font-family: inherit;
    font-size: 1.5rem;
    background-color: inherit;
    color: var(--clr-light);

    padding: 0.5rem 1.5rem;
}

.input {
    align-self: flex-start;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(4, minmax(40px, 1fr));
    gap: 0.5em;
}

.gray {
    background-color: var(--clr-gray);
    color: var(--clr-black);
}

.dark {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.yellow {
    background-color: var(--clr-yellow);
    color: var(--clr-light);
}
