* {
    margin: 0;
    padding: 0;
}

.cover {
   background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

    width: 100px;

    color: white;
    background-color: green;

}

.modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 1em;

    position: fixed;
    top: 285px;
    right: 730px;

    padding: 1em;

    border: 1px solid gray;
    border-radius: 15px;

    max-width: 40ch;

    background-color: white;

    z-index: 1;
}

body {
    margin-bottom: 300000000px;
}